<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/app.css" rel="stylesheet"/>

  </head>
  <body>

    <div class="container">

      <a id="bostonrblink" href="<%=org['href']%>"><%=org['name']%></a>
      <h1 class="titleheader"><%= page_title %></h1>

      <p>
        This site is powered by <a href="www.sinatrarb.com/">Sinatra</a>
        and 
        <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>.
        It should update automatically in-place every few minutes.
        Get the <a href="https://github.com/danchoi/boston-rubyists">source code</a> on GitHub.
      </p>

      <div class="row">
        <div class="span2 leftBar">
          <ul>
            <% @hackers.each do |h| %>
            <li>
              <a 
                title="<%= h[:followers] %> followers | <%= h[:repos] %> repos"
                href="https://github.com/<%=h[:name]%>"><%=h[:name]%></a>
              <span class="location"><%= h[:location].gsub(/[\s,].*$/, '') %></span>
            </li>
          <% end %>
          </ul>
          <h3>blogs</h3>
          <ul class="blogs">
          <%@blogs.each do |blog|%>
            <li><a href="<%=blog[:html_url]%>"><%=blog[:title]%></a></li>
          <%end%>
          </ul>

        </div>
        <div class="span4">
          <div id="updates"> </div>
        </div>
        <div class="span2">
          <div id="tweets"> </div>
        </div>
        <div class="span4">
          <div id="blogposts"> </div>
        </div>
      </div>

    </div>
  
    <script type="text/javascript" src="/underscore-min.js"></script>
    <script type="text/javascript" src="/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/backbone-min.js"></script>
    <script type="text/javascript" src="/app.js"></script>

    <script>
      // Set up the "play" buttons for each runnable code example.
      $(function() {
        Updates.reset(<%= @updates.to_json %>);
        BlogPosts.reset(<%= @blog_posts.to_json %>);
        Tweets.reset(<%= @tweets.to_json %>);

        setInterval(function () {
          Updates.fetch({add: true});
          BlogPosts.fetch({add: true});
          Tweets.fetch({add: true});
        }, <%= poll_interval %>);
      });
    </script>


    <!-- Templates -->

    <script type="text/template" id="update-template">
      <div class="update">
          <span class="date">{{ date_string }}</span>
          <img src="{{ media }}"/>
          {{ content }}
      </div>
    </script>

    <script type="text/template" id="blogpost-template">
      <div class="blogpost">
        <span class="date">{{ date_string }}</span>
        <h4>{{ blog }}</h4>
        <h3><a href="{{href}}">{{ title }}</a></h3>
        <p>{{ summary }}</p>
      </div>
    </script>

    <script type="text/template" id="tweet-template">
      <div class="tweet">
        <img src="{{user_profile_image_url}}"/>
        <strong>{{ user_screen_name }}</strong>
        <p>
          {{ text }}
          <br/>
          <span class="tweet_date">{{ date_string }}</span>
        </p>
      </div>
    </script>

  </body>

</html>

