<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/app.css" rel="stylesheet"/>
    <% if config['weather'] %>
      <link href="/weather.css" rel="stylesheet"/>
    <% end %>
  </head>
  <body>

    <div class="container">

      <a id="bostonrblink" href="<%=org['href']%>"><%=org['name']%></a>
      <h1 class="titleheader"><%= page_title %></h1>
      <% if config['weather'] %>
        <div id="weather"></div>
      <% end %>


      <p class="description" style="clear:left">
        This site is powered by <a href="http://www.sinatrarb.com/">Sinatra</a>
        and
        <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>.
        It should update automatically in-place every few minutes.
        Get the <a href="https://github.com/cldwalker/boston-rubyists/tree/relevance">source code</a> on GitHub.
      </p>

      <div class="row contentBox">
        <div class="span3">
          <h3>On Github</h3>
          <div id="updates"> </div>
        </div>
        <div class="span3">
          <h3>On Twitter</h3>
          <div id="tweets"> </div>
        </div>
        <div class="span5">
          <h3>Blogposts</h3>
          <div id="blogposts"> </div>
        </div>
      </div>

      <div class="row people">
        <div class="span12 leftBar">

          <% @hackers.each do |h| %>

            <div class="person">
              <a
                title="<%= h[:followers] %> followers | <%= h[:repos] %> repos"
                href="https://github.com/<%=h[:name]%>"><%=h[:name]%></a>&nbsp;<span class="location"><%= h[:location].to_s.gsub(/[\s,].*$/, '') %></span>
            </div>

          <% end %>

        </div>
      </div>
    </div>

    <script type="text/javascript" src="/underscore-min.js"></script>
    <script type="text/javascript" src="/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/backbone-min.js"></script>
    <script type="text/javascript" src="/app.js"></script>

    <script>
      // Set up the "play" buttons for each runnable code example.
      $(function() {
        Updates.reset(<%= @updates.to_json %>);
        BlogPosts.reset(<%= @blog_posts.to_json %>);
        Tweets.reset(<%= @tweets.to_json %>);

        setInterval(function () {
          Updates.fetch({add: true});
          Tweets.fetch({add: true});
        }, <%= poll_interval %>);

        setInterval(function () {
          BlogPosts.fetch({add: true});
        }, (5 * 60 * 1000));

        <% if config['weather'] %>
        function updateWeather() {
          $.get("/weather", function(data) { $("#weather").html(data); });
        }
        updateWeather();
        setInterval(updateWeather, (30 * 1000));
        <% end %>
      });
    </script>


    <!-- Templates -->

    <script type="text/template" id="update-template">
      <div class="update">
          <span class="date">{{ date_string }}</span>
          <img src="{{ media }}"/>
          {{ content }}
      </div>
    </script>

    <script type="text/template" id="blogpost-template">
      <div class="blogpost">
        <span class="date">{{ date_string }}</span>
        <h4>{{ blog }}</h4>
        <h3><a href="{{href}}">{{ title }}</a></h3>
        <p>{{ summary }}</p>
      </div>
    </script>

    <script type="text/template" id="tweet-template">
      <div class="tweet">
        <span class="tweet_date">{{ date_string }}</span>
        <img src="{{user_profile_image_url}}"/>
        <strong>{{ user_screen_name }}</strong>
        <p>
          {{ text }}
        </p>
      </div>
    </script>

  </body>

</html>
